// Nokia Pure

@font-face {
  font-family: 'nokiaPureLight';
  src: url('/nokia/fonts/NokiaPure/NokiaPureText-Light.ttf');
}

@font-face {
  font-family: 'nokiaPureBold';
  src: url('/nokia/fonts/NokiaPure/NokiaPureText-Bold.ttf');
}

@font-face {
  font-family: 'nokiaPureMedium';
  src: url('/nokia/fonts/NokiaPure/NokiaPureText-Medium.ttf');
}

@font-face {
  font-family: 'nokiaPureRegular';
  src: url('/nokia/fonts/NokiaPure/NokiaPureText-Regular.ttf');
}


// Nokia Pure

@font-face {
  font-family: 'NokiaPureHeadlineBold';
  src: url('/nokia/fonts/NokiaHeadline/NokiaPureHeadline-Bold.ttf');
}

@font-face {
  font-family: 'NokiaPureHeadlineExtraBold';
  src: url('/nokia/fonts/NokiaHeadline/NokiaPureHeadline-ExtraBold.ttf');
}

@font-face {
  font-family: 'NokiaPureHeadlineLight';
  src: url('/nokia/fonts/NokiaHeadline/NokiaPureHeadline-Light.ttf');
}

@font-face {
  font-family: 'NokiaPureHeadlineRegular';
  src: url('/nokia/fonts/NokiaHeadline/NokiaPureHeadline-Regular.ttf');
}

@font-face {
  font-family: 'NokiaPureHeadlineUltraLight';
  src: url('/nokia/fonts/NokiaHeadline/NokiaPureHeadline-UltraLight.ttf');
}
