<div class="accessories">

  <div class="grid_25 alpha omega">
    <div class="grid_24 Push_1">
      <img style="z-index:9999999; position:absolute; top:10px; right:0px;" width="120px" src="images/nokia-logo-blue.png" alt=""/>
      <h1 style="margin-top:0px; color:#124191;">ACCESSORIES</h1>
    </div>
  </div>

  <div class="grid_25 alpha omega" style="background-color:#124191; padding-bottom:20px;">

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Nokia Shell for Lumia 630/635</h2>
      <p class="block left">Personalise and protect your Nokia Lumia 630 or 635 with the Nokia Shell CC-3079</p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-630-635-shell.png" alt=""/></a>
    </div>

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Nokia Shell for Lumia 530</h2>
      <p class="block left">Personalise your Nokia Lumia 530 by changing the back cover.</p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-530-shell.png" alt=""/></a>
    </div>

  </div>

  <div class="grid_25 alpha omega" style="background-color:#124191; padding-bottom:20px; margin-top: -20px;">

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Wireless Charging Shell for Lumia 735</h2>
      <p class="block left">Add a wireless charging shell and enjoy the convenience of wireless charging.</p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-735-charging-shell.png" alt=""/></a>
    </div>

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Wireless Charging Shell for Lumia 830</h2>
      <p class="block left">Add a wireless charging shell and enjoy the convenience of wireless charging.</p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-830-charging-shell.png" alt=""/></a>
    </div>
    
  </div>

  <div class="grid_25 alpha omega" style="background-color:#124191; padding-bottom:20px; margin-top: -20px;">

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Nokia Protective Cover for Lumia 930</h2>
      <p class="block left">Keep your Nokia Lumia 930 protected and clean with the Nokia Case CP-637</p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-930-protective-cover.png" alt=""/></a>
    </div>

    <div class="grid_12 accessoriesBox">
      <h2 class="left" style="color:#124191; display:inline-block; line-height:34px; width:400px;">Microsoft Screen Sharing for Lumia Phones</h2>
      <p class="block left">Use the portable NFC disc to connect, and then share your screen from a comfortable chair or while lying in bed – you don’t have to place your Lumia next to the TV. </p>
      <a href="#"><img class="block" style="margin-left:75px;" src="images/accessories/lumia-microsoft-screen-sharing.png" alt=""/></a>
    </div>
    
  </div>

</div>
