<div class="incentives">

  <div class="grid_25 alpha omega">
    <div class="grid_24 Push_1">
      <h1 style="margin-top:0px; color:#124191;">INCENTIVES</h1>
    </div>
  </div>

  <div class="grid_25 alpha omega" style="background-color:#124191; padding-bottom:20px;">

    <div class="grid_24" style="background-color:#ffffff; margin-left:20px; margin-right:0px; margin-top:20px; padding-right:10px;">

      <img class="block" src="images/incentives/nopromotion.png" alt="" style="margin-top:20px; margin-left:65px;"/>

    </div>

  </div>

</div>
