
#modal-content
{
	width: 960px;
	padding: 25px;
	background: #fff;
	position: relative;
}

#modal-content h1
{
	padding: 10px 0;
	font-size: 18px;
	font-style: italic;
}

#modal-content li {
	list-style-type: none;
}

#modal-content p
{
	margin: 10px 0;
}

#modal-content .image-wrapper {
	float: none;
}