
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

.flex-control-nav,
.flex-direction-nav 
{
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
} 

.flexslider
{
	width: 960px;
	height: 472px;
	position: relative;
	overflow: hidden;
	background: #fff;
}

.flexslider ul
{
	margin: 0;
	padding: 0; /* dont use important it effects js */
	list-style-type: none;
}

.flexslider ul, .flexslider .slides li
{
	width: 960px;
	height: 472px;
	margin: 0;
	padding: 0; /* dont use important it effects js */
	list-style-type: none;
}

/* FlexSlider Necessary Styles */ 
.js .flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	position: relative;
} 
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* Control Nav */
.flex-control-nav 
{
	width: 250px;
	position: absolute;
	bottom: 3px;
	right: 10px;
	z-index: 50;
	text-align: right;
}

.flex-control-nav li 
{
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a
{
	width: 9px;
	height: 9px;
	display: block;
	overflow: hidden;
	background: #666;
	text-indent: -100px;
	line-height: 50px;
	background: #eee;
	cursor: pointer;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
	background: #333;
}

.flex-control-paging li a.flex-active {
	background: #0b375d;
	cursor: default;
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

/* Direction Nav */
.flex-direction-nav {
*height: 0;
}

.flex-direction-nav A 
{
	width: 32px;
	height: 49px;
	display: block;
	position: absolute;
	top: 41%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0.2;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease; 	
	background-color: #9A9A9A; /*fallback */
	background-color: rgba(0, 0, 0, .2);
	/*background-image: url(/iComProjects/templates/ajax-microsite/img/sprite.png);*/
	background-repeat: no-repeat;
	background-position: 10px -265px;
}

.flex-direction-nav .flex-next 
{
	right: 0;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;	
	background-position: -770px -265px;
}

.flex-direction-nav .flex-prev 
{
	left: 0;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.flexslider:hover .flex-next, .flexslider:hover .flex-prev
{
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter: alpha(opacity=30);
	cursor: default;
}
