@import 'bootstrap';

a {
	color:#124191;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;	
 }

.line-height
{
	line-height:20px;
}

.sup {
	vertical-align: 75%;
 	line-height: 5px;
	font-size:8px;
} 

.left {
	margin-left:20px;
}



